@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-image: url("img/house1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  font-family: Roboto, sans-serif;
  color: #000000;
  background-color: #f5f6fa;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  color: white;
}
.logo_text {
  font-size: 9px;
  color: #909195;
}
.bold_text {
  font-weight: bold;
}
.raiting {
  display: flex;
}
.raiting_label {
  font-size: 20px;
  font-weight: 500;
  margin-left: -38px;
  margin-right: 35px;
}
.raiting_text {
  font-size: 12px;
  width: 150px;
}

.button_green {
  width: 240px;
  height: 30px;
  text-align: center;
  /* line-height: 45px; */
  padding-top: 10px;
  color: #fcfcfe;
  border-radius: 4px;
  background-color: #84b73d;
}

.logo {
  /* margin-top: -35px; */
  display: flex;
}
.logo img {
  margin-top: -25px;
  margin-right: 10px;
}

.flag {
  margin-top: -45px;
}
.calc_wrapper {
  text-align: right;
}
.calc_wrapper a {
  font-size: 11px;
  color: #96989f;
}
.calc {
  margin-left: 4px;
  vertical-align: middle;
  height: 19px;
}

.nav {
  margin-top: 20px;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  line-height: 29px;
}
nav span {
  text-transform: uppercase;
  font-size: 16px;
}
nav img {
  vertical-align: middle;
  padding: 5px;
}

.online {
  /* vertical-align: middle; */
  /* display: flex; */
  margin: 0 auto;
  text-align: center;
}
.online > img {
  vertical-align: middle;
}
.online > span {
  font-size: 10px;
  color: #d2d3d6;
}
.phoneCall {
  text-align: right;
}
.phoneCall span {
  font-size: 10px;
  color: #d2d3d6;
}
.phoneCall div {
  font-size: 16px;
  font-weight: 500;
}
.phoneCall a {
  color: #87bf3c;
  text-decoration-style: dashed;
  font-size: 12px;
  line-height: 14px;

  /* text-decoration: dashed; */
}
h1 {
  margin-top: 50px;
  font-size: 46px;
  width: 430px;
  color: white;
}
h1 span {
  font-weight: 300;
}
.baner p {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
.baner > button {
  width: 285px;
  height: 60px;
}
.orange_button {
  cursor: pointer;
  color: #fbffff;
  background-color: #feaa01;
  border-radius: 4px;
  width: fit-content;
  padding: 20px 40px;
}
.baner .orange_button {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
h2 {
  font-size: 47px;
  color: #2d2d2f;
  text-align: center;
  line-height: 50px;
}
.reklama {
  display: flex;
  margin-top: 70px;
}
.reklama > .ritem {
  font-size: 12px;
  margin-right: 70px;
  color: #ffffff;
}

h3 {
  font-size: 36px;
  color: #2d2d2f;
  text-align: center;
}
h2 span {
  font-weight: 400;
}

h3 span {
  font-weight: 400;
}

.select-house {
  background-color: #eff3f7;
  color: #716a6b;
  font-size: 20px;
  border-radius: 4px;
  padding: 5px;
  width: fit-content;
}

.select-house + span {
  color: #262425;
  font-size: 24px;
  font-weight: 500;
}

figcaption {
  color: #555050;
  font-size: 18px;
  font-weight: 500;
}

.hand {
  font-size: 10px;
  font-weight: 400;
}
.hand span {
  font-weight: bold;
}
.FIO {
  font-size: 26px;
  font-weight: 500;
  color: #272627;
  line-height: 18px;
}
.profession {
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  color: #a09ea1;
}
.question {
  font-size: 16px;
  font-weight: 400;
  line-height: 12px;
  color: #4b4747;
}
.sale-white {
  color: #f3f3f3;
}
.upper-text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 23px;
}
.build {
  color: #ffffff;
}
.house-header-x2 {
  font-size: 30px;
  font-weight: bold;
}
.house-header-x1 {
  font-size: 23px;
  font-weight: bold;
}
.build-badge {
  color: #000000;
  font-size: 9px;
  font-weight: 600;
  /* border: #000000; */
  border-radius: 50px;

  width: fit-content;
  padding: 8px;
}
.big-price-text-x2 {
  font-size: 30px;
  font-weight: bold;
}
.small-price-text {
  font-size: 13px;
  font-weight: 400;
}
.big-price-text {
  font-size: 23px;
  font-weight: bold;
}
.popular .item {
  font-size: 13px;
  background-color: #efefef;
  border-radius: 4px;
  color: #5c5f66;
  padding: 3px 5px;
  /* margin: 5px; */
}

.item + .selected {
  color: white;
  background-color: #73b918;
}
.popular a {
  color: #f7d047;
  text-decoration-style: dashed;
}
.card {
  margin-top: 30px;
  color: #7a7d81;
}
.card .price {
  color: #73b918;
  font-size: 32px;
  font-weight: bold;
}
.card .orange_button {
  padding: 5px 10px;
  font-size: 12px;
}
.card .last {
  display: flex;
  /* vertical-align: middle; */
}
.personal-plan {
  font-size: 9px;
  color: #b8b8ba;
}

.item {
  font-size: 18px;
  font-weight: 500;
  background-color: #efefef;
  border-radius: 4px;
  color: #5c5f66;
  padding: 10px 45px;
  /* margin: 5px; */
}

.selected {
  color: white;
  background-color: #73b918;
}
.perfectHouse-card {
  margin-top: 40px;
  display: flex;
  color: #4c4f56;
}
.perfectHouse-card h3 {
  color: #4c4f56;
}
.promotion {
  display: flex;
  height: 295px;
  /* text-align: left; */
}
.promotion h3 {
  font-size: 27px;
  text-align: left;
}
.description {
  /* width: 260px; */
  font-size: 14px;
  margin-bottom: 10px;
}
.promotion-card {
  color: #ffffff;
  background-image: url("img/promo1.png");
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 12px;
  /* backgroud-size: contain; */
  padding: 25px 45px;
}
.promotion-card1 {
  background-image: url("img/promo1.png");
}
.promotion-card2 {
  background-image: url("img/promo2.png");
}

.promotion-card h3 {
  color: #ffffff;
}

.white-button {
  background-color: white;
  color: black;
  width: fit-content;
  padding: 15px 55px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

/* .housesLastYear {
  display: inline-block;
} */
.housesLastYear > div {
  display: inline-block;
  margin: 10px;
}
.geo {
  color: #85b73e;
  font-size: 18px;
}
.housesLastYear h3 {
  color: #4c4f56;
  font-size: 36px;
}
.houseLastYear-description > div {
  display: inline-block;
  margin: 10px;
}
.houseLastYear-small-text {
  font-size: 12px;
  line-height: 13px;
  color: #8e9093;
}
.houseLastYear-digit {
  font-size: 28px;
  line-height: 29px;
  color: #434749;
  font-weight: bold;
}
.houseLastYear-medium-text {
  font-size: 16px;
  line-height: 17px;
  color: #434749;
}
.houseLastYear-medium-text2 {
  font-size: 18px;
  line-height: 19px;
  color: #56595f;
}
.excursion > h2 {
  font-weight: normal;
  font-size: 34px;
  line-height: 38px;
  width: 600px;
  text-align: left;
}
.excursion > span {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  width: 600px;
  text-align: left;
  color: #4c4f56;
  padding-bottom: 30px;
}

.excursion-inline > div {
  margin: 10px;
  display: inline-block;
  width: 160px;
  color: #000000;
}
.excursion-form {
  font-size: 12px;
  line-height: 14px;
  color: #413e3f;
}
.excursion-form > .orange_button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 900;
}
.excursion-form > span {
  font-size: 10px;
}
/* 
.catalog {
  display: block;
} */

.catalog h4 {
  font-size: 24px;
  line-height: 28px;
  color: #4c4f56;
  font-weight: 400;
}
.catalog p {
  font-size: 16px;
  line-height: 18px;
  color: #4c4f56;
}
.catalog p + p {
  font-size: 13px;
  line-height: 16px;
  color: #2d2d2f;
}
.socials > div {
  display: inline-block;
  width: 72px;
  height: 82px;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px;
  border-color: black;
  /* border-style: dashed; */
  font-size: 13px;
  line-height: 16px;
  color: #706f75;
}
.socials > div > div {
  display: block;
  margin: 0 auto;
  text-align: center;

  /* разобраться с центрированием */
}

.socials div:hover {
  box-shadow: 0px 4px 24px 0px rgba(28, 24, 31, 0.2);
}

/* .catalog input {
  width: 258px;
  height: 42px;
  font-size: 21px;
  line-height: 24px;
  color: #7a7d81;
  background-color: #efefef;
  border-radius: 5px;
  border: none;
} */
.tel {
  width: 258px;
  height: 42px;
  font-size: 21px;
  line-height: 24px;
  color: #7a7d81;
  background-color: #efefef;
  border-radius: 5px;
  border: none;
}
.catalog .orange_button {
  border: none;
  font-weight: bold;
}

.confidential {
  font-size: 9px;
  line-height: 10px;
  font-weight: 300;
  color: #413e3f;
}
.confidential span {
  font-weight: 600;
}

.review > div {
  display: inline-block;
  /* border-style: dotted; */
  width: 300px;
  height: 180px;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
  margin-right: 15px;
}
.comentator {
  display: inline-block;
  /* border-style: dotted; */
  width: auto;
  margin: 0 15px;
  vertical-align: top;
  /* height: 230px; */
}
.comentator h5 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  width: 130px;
}
.comentator div {
  font-size: 12px;
  line-height: 13px;
  color: #6d7176;
}
.comment-description {
  position: relative;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: black;
  width: 250px;
}
.comment-description a {
  position: absolute;
  right: -35px;
  bottom: 3px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #f3b43f;
}
.director > div + div {
  display: inline-block;
  width: 50%;
  margin: 0;
}
.dir-description {
  color: #6f7276;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.dir-reklama > div {
  display: inline-block;
  width: max-content;
  /* border-style: dotted; */
  margin: 15px;
}
.dir-reklama .dir-small-text {
  color: #434749;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
.dir-reklama .dir-digit {
  color: #262425;

  font-size: 46px;
  font-weight: 700;
  line-height: 48px;
}
div .dir-small-text {
  width: 100px;
}

.question {
  display: flex;
}
.question > div {
  width: 45%;
  text-align: left;
}
.question h2 {
  text-align: left;
}
.question > div > p {
  width: 50%;
  text-align: left;
  color: #565962;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
}

.smeta h2 {
  color: #2d2d2f;
  font-size: 35px;

  font-weight: 400;
  line-height: 38px;
}
.smeta p {
  color: #494b50;
  /* text-align: center; */
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
}
.smeta-reklama {
  color: #494b50;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  width: 284px;
  /* border-style: dashed; */
  /* display: inline-block; */
}
.smeta-reklama div {
  margin-left: 25px;
}
.smeta h4 {
  color: #262425;

  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.smeta p {
  color: #4c4f56;
  text-align: center;

  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
}

.smeta input {
  width: 257px;
  height: 39px;
  border-radius: 4px;
  border: 1px solid #7fb63c;
  color: #7fb63c;
}
.smeta input + input {
  width: 258px;
  height: 42px;
  font-size: 21px;
  line-height: 24px;
  color: #7a7d81;
  background-color: #efefef;
  border-radius: 5px;
  border: none;
}
.smeta button {
  border: none;
}
.contacts h4 {
  color: #000;

  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
}
.address {
  color: #4c4c4d;

  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
}
.listItem {
  color: #605f60;

  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
}
.contacts .phone {
  color: #363435;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
.contacts a {
  color: #8cb746;

  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  text-decoration: underline dotted;
}
.bold-listItem {
  color: #363435;
  font-size: 13px;
  font-weight: 700;
  line-height: 14px;
}
.contacts .button_green {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  height: 44px;
}
.map {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.footer {
  /* width: 1440px; */
  height: 160px;
  background-color: #373739;
  color: #fbffff;
}
.footer > div {
  margin: 0 80px;
  padding: 35px 0 55px 0;
}

.footer nav .span {
  font-size: 16px;
  font-weight: 500;
  /* padding: 35px 0 55px 0; */
}
.rights {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}
/* .map div {
  display: inline-block;
} */
/* .housesLastYear  div,
img {
  
} */
/* .personal-plan img {
  vertical-align: middle;
} */

/* font-size
font-weight
font-style
font-family
line-height
text-align
text-transform */

/* background-image
background-position
background-size
background-repeat */
