@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "styles/variables.scss";
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */
body {
  background-image: url("img/house1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;

  font-family: Roboto, sans-serif;
  color: $black;
  background-color: $body_background;
  margin: 0;
}

h3,
p {
  margin: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.header {
  display: flex;
  margin-top: 24px;
  justify-content: space-between;
  color: white;
}
.logo-text {
  font-size: 9px;
  color: #909195;
}
.bold-text {
  font-weight: bold;
}
.raiting {
  display: flex;
}
.raiting-label {
  font-size: 20px;
  font-weight: 500;
  margin-left: -38px;
  margin-right: 35px;
}
.raiting-text {
  font-size: 12px;
  width: 150px;
}

.button_green {
  width: 240px;
  height: 30px;
  text-align: center;
  /* line-height: 45px; */
  padding-top: 10px;
  color: #fcfcfe;
  border-radius: 4px;
  background-color: #84b73d;
}

.logo {
  /* margin-top: -35px; */
  display: flex;
}
.logo img {
  margin-top: -25px;
  margin-right: 10px;
}

.flag {
  margin-top: -45px;
}
.calc-wrapper {
  text-align: right;
}
.calc-wrapper a {
  font-size: 11px;
  color: #96989f;
}
.calc {
  margin-left: 4px;
  vertical-align: middle;
  height: 19px;
}

.nav {
  margin-top: 20px;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  line-height: 29px;
  align-items: center;
}
nav span {
  text-transform: uppercase;
  font-size: 16px;
}
nav img {
  vertical-align: middle;
  padding: 5px;
}

.online {
  /* vertical-align: middle; */
  /* display: flex; */
  margin: 0 auto;
  text-align: center;
}
.online > img {
  vertical-align: middle;
}
.online > span {
  font-size: 10px;
  color: $very_light_gray_text;
}
.phoneCall {
  text-align: right;
}
.phoneCall span {
  font-size: 10px;
  color: $very_light_gray_text;
}
.phoneCall div {
  font-size: 16px;
  font-weight: 500;
}
.phoneCall a {
  color: #87bf3c;
  text-decoration-style: dashed;
  font-size: 12px;
  line-height: 14px;

  /* text-decoration: dashed; */
}
h1 {
  margin-top: 50px;
  font-size: 46px;
  width: 430px;
  color: white;
}
h1 span {
  font-weight: 300;
}
.baner p {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
.baner > button {
  width: 285px;
  height: 60px;
}
.orange_button {
  cursor: pointer;
  color: #fbffff;
  background-color: $ogange;
  border-radius: 4px;
  width: fit-content;
  padding: 10px 25px;
  display: inline-block;
}
.baner .orange_button {
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
h2 {
  font-size: 47px;
  color: $h_text;
  text-align: center;
  line-height: 50px;
}
.reklama {
  display: flex;
  margin-top: 70px;
}
.reklama > .ritem {
  font-size: 12px;
  margin-right: 70px;
  color: $white;
}

h3 {
  font-size: 36px;
  color: $h_text;
  text-align: center;
}
h2 span {
  font-weight: 400;
}

h3 span {
  font-weight: 400;
}
.form-calc-price {
  margin-top: 60px;
  background-color: $white;
  width: 1105px;
  height: 701px;
  border-radius: 5px 5px 100px 5px;
  box-shadow: 0px 0px 90px 0px #cacaca;
  display: flex;
}
.form-calc-price__left {
  padding: 80px 120px 40px 150px;
}
.form-calc-price__left-container {
  background-color: bisque;
}

// .select-house {
//   background-color: #eff3f7;
//   color: #716a6b;
//   font-size: 20px;
//   border-radius: 4px;
//   padding: 5px;
//   width: fit-content;
// }

// .select-house + span {
//   color: $dark_text;
//   font-size: 24px;
//   font-weight: 500;
// }

// figcaption {
//   color: #555050;
//   font-size: 18px;
//   font-weight: 500;
// }

// .hand {
//   font-size: 10px;
//   font-weight: 400;
// }
// .hand span {
//   font-weight: bold;
// }
// .FIO {
//   font-size: 26px;
//   font-weight: 500;
//   color: #272627;
//   line-height: 18px;
// }
// .profession {
//   font-size: 14px;
//   font-weight: 400;
//   line-height: 10px;
//   color: #a09ea1;
// }
// .question {
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 12px;
//   color: #4b4747;
// }
// .sale-white {
//   color: #f3f3f3;
// }
// .upper-text {
//   text-transform: uppercase;
//   font-weight: bold;
//   font-size: 12px;
//   line-height: 23px;
// }

/* секция Мы строим деревянные дома и бани с учетом всех особенностей Курска */
.container-build {
  color: $white;
  padding: 50px 0;
}
.container_silver {
  background-color: silver;
}
.container_bisque {
  background-color: bisque;
}
.container__title {
  font-size: 43px;
  width: 1021px;
  margin: 0 auto 47px;
  text-align: center;
  font-weight: normal;
  line-height: 1;
}
.container__title_bold {
  /* color: #73b918; */
  font-weight: bold;
}
.cards-container {
  font-size: 0;
  width: calc(348px * 3 + 31px * 2);
  margin: auto;
}
.cards-container__col {
  width: 348px;
  margin-right: 31px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 13px;
  vertical-align: top;
}
.cards-container__col_mr-0 {
  margin-right: 0;
}

.card {
  padding: 40px;
  margin-bottom: 29px;
  position: relative;
  background-position: center;
  background-size: cover;
}
.card_bg1 {
  background-image: url("img/house1.jpeg");
}
.card_bg2 {
  background-image: url("img/house2.jpeg");
}
.card_bg3 {
  background-image: url("img/house3.jpeg");
}
.card_bg4 {
  background-image: url("img/house4.jpeg");
}
.card_bg5 {
  background-image: url("img/house5.jpeg");
}
.card_bg6 {
  background-image: url("img/house6.jpeg");
}
.card__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(30, 30, 30, 0.6);
  z-index: 0;
}
.card__title {
  margin: 0 0 28px;
  color: $white;
  font-size: 29px;
  font-weight: bold;
  width: 60%;
  position: relative;
  z-index: 1;
}
.card__title_mb-big {
  margin-bottom: 267px;
}
.card__tag {
  font-size: 9px;
  font-weight: 600;
  line-height: 25px;
  padding: 0 8px;
  border-radius: 12px;
  color: $black;
  background-color: $white;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1;
}
.card__btn {
  background-color: #73b918;
  color: $white;
  text-decoration: none;
  font-size: 9px;
  border-radius: 4px;
  display: inline-block;
  padding: 12px 14px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.card__price {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: $white;
  z-index: 1;
}
.card__price {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: $white;
  z-index: 1;
}
.card__price_big-card {
  position: absolute;
  right: 150px;
  bottom: 90px;
  color: $white;
  z-index: 1;
}

.card__price_green {
  font-size: 24px;
  font-weight: 600;
  color: #73b918;
}
.card__price_white {
  font-size: 24px;
  font-weight: 600;
  color: $white;
}
.card__price_white_big {
  font-size: 30px;
  font-weight: 700;
  color: $white;
}

.card__price_silver {
  color: silver;
}
/* \/ секция Посмотрите популярные проекты домов */
.container-popular {
  color: $white;
  padding: 50px 0;
}
.menu-popular {
  font-size: 13px;
  color: $light_gray;
  margin-bottom: 26px;
}
.menu-popular__arrow {
  /* align-items: center; */
}
.menu-popular__item {
  background-color: $almost_white;
  border-radius: 4px;
  padding: 3px 5px;
}

.menu-popular__item_selected {
  color: white;
  background-color: #73b918;
}
.menu-popular__link {
  color: #f7d047;
  text-decoration-style: dashed;
}
.porular__card {
  /* margin-bottom: 50px; */
  color: #7a7d81;
  background-color: white;
  border-radius: 13px;
  padding-bottom: 30px;
  margin-bottom: 25px;
}
.popular-card_bg {
  background-image: url("img/houseAtaman.png");
  background-repeat: no-repeat;
}
.porular-card__body {
  padding: 250px 0px 0px 30px;
}
.porular-card__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin: 15px 0;
}
.popular-card-description__col {
  display: inline-block;
  /* width: 100%; */
  /* position: relative; */
}
.popular-card__description {
  color: #7a7d81;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  /* display: inline-block; */
  margin-top: 8px;
  margin-right: 35px;
}

.popular-card-description__text_bold {
  font-weight: 600;
}
.popular-card-description__list {
  padding: 15px 30px 15px 15px;
  /* color: red; */
}
.popular-card-description__list ::marker {
  /* padding: 15px; */
  color: #85b440;
}
.popular-card-description-list__item {
  /* vertical-align: bottom; */
  padding-bottom: 5px;
}
.popular-card-description__text_bold-right {
  font-weight: 600;
  float: right;
}
.popular-card-description-list__item_bigHeight {
  height: 32px;
  /* display: inline; */
}
.popular-card-description__text_bottom {
  display: inline-block;
  height: 32px;
  padding-top: 18px;
}
.popular-card-description__price {
  color: #73b918;
  font-size: 32px;
  font-weight: bold;
}
.popular-card__buttons {
  /* display: inline-block; */
  /* vertical-align: middle; */
}

.popular-card__personal-plan {
  color: #b8b8ba;
  font-size: 9px;
  font-weight: 400;
  /* line-height: 9px; */
  display: inline-block;
  width: 90px;
  vertical-align: middle;
  position: relative;
}
.popular-card__personal-plan_img {
  /* display: inline-block; */
  margin: 0 8px;
}
.popular-card__personal-plan_link {
  width: 80px;
  position: absolute;
  top: -2px;
  text-decoration: none;
  color: inherit;
}
/* /\ секция Посмотрите популярные проекты домов */

.item {
  font-size: 18px;
  font-weight: 500;
  background-color: $almost_white;
  border-radius: 4px;
  color: $light_gray;
  padding: 10px 45px;
  /* margin: 5px; */
}

.selected {
  color: white;
  background-color: #73b918;
}
.perfectHouse-card {
  margin-top: 40px;
  display: flex;
  color: $h_text_light;
}
.perfectHouse-card h3 {
  color: $h_text_light;
}

.promotion {
  margin-top: 122px;
}
.promotion__wrapper {
  display: flex;
  justify-content: space-between;
  height: 298px;
}

.promotion__card-title {
  font-size: 27px;
  text-align: left;
  color: $white;
}
.promotion__card-description {
  width: 260px;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 28px;
}
.promotion__card {
  color: $white;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 12px;
  /* backgroud-size: contain; */
  padding: 25px 45px;

  width: calc(50% - 30px);
  /* display: inline-block; */
}
.promotion__card_1 {
  background-image: url("img/promo1.png");
}
.promotion__card_2 {
  background-image: url("img/promo2.png");
}

/* .promotion-card h3 {
} */

.promotion__button {
  background-color: white;
  color: $black;
  width: fit-content;
  padding: 15px 55px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

/* .housesLastYear {
    display: inline-block;
  } */
.housesLastYear {
  /* display: inline-block; */
  margin-top: 130px;
}
.houseLastYear__left {
  display: inline-block;
  /* background-color: orange; */
  width: calc(50% - 15px);
  min-width: 535px;
  margin-right: 25px;
}
.houseLastYear__right {
  display: inline-block;
  width: calc(50% - 15px);
  min-width: 535px;
  vertical-align: top;
  /* min-width: 510px; */
}
.houseLastYear__containerImg {
  /* display: flex; */
  /* justify-content: space-between; */
}
.houseLastYear__smallImg {
  margin-right: 7px;
}
.houseLastYear__smallImg_mr0 {
  margin-right: 0px;
}
.houseLastYear__bigImg {
  margin-bottom: 20px;
}
.houseLastYear__containerImg {
  min-width: 535px;
}

.houseLastYear__linkMap {
  color: $green_light;
  font-size: 18px;
  margin-bottom: 18px;
}
.houseLastYear__label {
  color: $h_text_light;
  font-size: 36px;
  text-align: left;
  width: 400px;
  font-weight: 600;
}

.houseLastYear__description_item {
  display: inline-block;
  margin: 10px;
}
.houseLastYear__description_small-text {
  font-size: 12px;
  line-height: 13px;
  color: #8e9093;
}
.houseLastYear__description_digit {
  font-size: 28px;
  line-height: 29px;
  color: $description_text;
  font-weight: bold;
}
.houseLastYear__description_medium-text {
  font-size: 16px;
  line-height: 17px;
  color: $description_text;
}
.houseLastYear-right-middle__container {
  margin-top: 60px;
}
.houseLastYear__description_middle-text {
  font-size: 18px;
  line-height: 19px;
  color: #56595f;
}
.houseLastYear__description_middle-text-item {
  margin-bottom: 6px;
}
.houseLastYear-right-middle__container_col {
  display: inline-block;
  margin-right: 45px;
}
.houseLastYear-right__button {
  margin-top: 45px;
}
.houseLastYear-right__button_small-text {
  display: inline-block;
  color: #56595f;
  font-size: 18px;
  font-weight: 400;
  width: 263px;
  vertical-align: middle;
  margin-right: 40px;
  cursor: pointer;
}
.houseLastYear-right__button_text {
  cursor: pointer;
  color: #fbffff;
  font-size: 13px;
  background-color: $ogange;
  border-radius: 4px;
  /* width: fit-content; */
  padding: 12px 25px;
  display: inline-block;
  vertical-align: middle;
}

.excursion > h2 {
  font-weight: normal;
  font-size: 34px;
  line-height: 38px;
  width: 600px;
  text-align: left;
}
.excursion > span {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  width: 600px;
  text-align: left;
  color: $h_text_light;
  padding-bottom: 30px;
}

.excursion-inline > div {
  margin: 10px;
  display: inline-block;
  width: 160px;
  color: $black;
}
.excursion-form {
  font-size: 12px;
  line-height: 14px;
  color: #413e3f;
}
.excursion-form > .orange_button {
  font-size: 13px;
  line-height: 18px;
  font-weight: 900;
}
.excursion-form > span {
  font-size: 10px;
}
/* 
  .catalog {
    display: block;
  } */

.catalog h4 {
  font-size: 24px;
  line-height: 28px;
  color: $h_text_light;
  font-weight: 400;
}
.catalog p {
  font-size: 16px;
  line-height: 18px;
  color: $h_text_light;
}
.catalog p + p {
  font-size: 13px;
  line-height: 16px;
  color: $h_text;
}
.socials > div {
  display: inline-block;
  width: 72px;
  height: 82px;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px;
  border-color: $black;
  /* border-style: dashed; */
  font-size: 13px;
  line-height: 16px;
  color: #706f75;
}
.socials > div > div {
  display: block;
  margin: 0 auto;
  text-align: center;

  /* разобраться с центрированием */
}

.socials div:hover {
  box-shadow: 0px 4px 24px 0px rgba(28, 24, 31, 0.2);
}

/* .catalog input {
    width: 258px;
    height: 42px;
    font-size: 21px;
    line-height: 24px;
    color: #7a7d81;
    background-color: $almost_white;
    border-radius: 5px;
    border: none;
  } */
.tel {
  width: 258px;
  height: 42px;
  font-size: 21px;
  line-height: 24px;
  color: #7a7d81;
  background-color: $almost_white;
  border-radius: 5px;
  border: none;
}
.catalog .orange_button {
  border: none;
  font-weight: bold;
}

.confidential {
  font-size: 9px;
  line-height: 10px;
  font-weight: 300;
  color: #413e3f;
}
.confidential span {
  font-weight: 600;
}

.review > div {
  display: inline-block;
  /* border-style: dotted; */
  width: 300px;
  height: 180px;
  padding: 20px;
  background-color: white;
  border-radius: 14px;
  margin-right: 15px;
}
.comentator {
  display: inline-block;
  /* border-style: dotted; */
  width: auto;
  margin: 0 15px;
  vertical-align: top;
  /* height: 230px; */
}
.comentator h5 {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  width: 130px;
}
.comentator div {
  font-size: 12px;
  line-height: 13px;
  color: #6d7176;
}
.comment-description {
  position: relative;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $black;
  width: 250px;
}
.comment-description a {
  position: absolute;
  right: -35px;
  bottom: 3px;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  color: #f3b43f;
}
.director > div + div {
  display: inline-block;
  width: 50%;
  margin: 0;
}
.dir-description {
  color: #6f7276;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.dir-reklama > div {
  display: inline-block;
  width: max-content;
  /* border-style: dotted; */
  margin: 15px;
}
.dir-reklama .dir-small-text {
  color: $description_text;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}
.dir-reklama .dir-digit {
  color: $dark_text;

  font-size: 46px;
  font-weight: 700;
  line-height: 48px;
}
div .dir-small-text {
  width: 100px;
}

.question {
  display: flex;
}
.question > div {
  width: 45%;
  text-align: left;
}
.question h2 {
  text-align: left;
}
.question > div > p {
  width: 50%;
  text-align: left;
  color: #565962;
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
}

.smeta h2 {
  color: $h_text;
  font-size: 35px;

  font-weight: 400;
  line-height: 38px;
}
.smeta p {
  color: $smeta_text;
  /* text-align: center; */
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
}
.smeta-reklama {
  color: $smeta_text;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  width: 284px;
  /* border-style: dashed; */
  /* display: inline-block; */
}
.smeta-reklama div {
  margin-left: 25px;
}
.smeta h4 {
  color: $dark_text;

  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
.smeta p {
  color: $h_text_light;
  text-align: center;

  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
}

.smeta input {
  width: 257px;
  height: 39px;
  border-radius: 4px;
  border: 1px solid #7fb63c;
  color: #7fb63c;
}
.smeta input + input {
  width: 258px;
  height: 42px;
  font-size: 21px;
  line-height: 24px;
  color: #7a7d81;
  background-color: $almost_white;
  border-radius: 5px;
  border: none;
}
.smeta button {
  border: none;
}

.map {
  /* background: silver; */
  padding: 90px calc(50% - 600px);
  font-size: 0;
}
.map__block {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  /* background-color: aquamarine; */
}
.map__block_left {
  width: 240px;
  margin-right: 130px;
}
.map__block_right {
  width: calc(100% - 370px);
}

.map__caption {
  font-size: 20px;
  margin-bottom: 12px;
}

.map__frame {
  width: 100%;
  border: none;
  display: block;
  height: 264px;
}
.map__text {
  font-weight: normal;
  font-size: 13px;
}
.map__text_big {
  color: #4c4c4d;
  vertical-align: middle;
  line-height: 16px;
}
.fa-location-dot {
  color: $orange_light;
  font-size: 16px;
  margin-right: 4px;
}
.fa-location-dot_green {
  color: $green_light;
  font-size: 20px;
  margin-right: 4px;
}
.map__dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #6acf85;
  display: inline-block;
  /* position: relative; */
  vertical-align: middle;
  /* top: 0; */
}
.map__text_left {
  margin-bottom: 25px;
}
.map__text_small {
  font-size: 9px;
  color: #605f60;
  margin-top: 16px;
  margin-bottom: 12px;
}
.map__text_bold {
  color: #363435;
  font-weight: 700;
}
.map__link {
  font-size: 15px;
  color: #8cb746;
  font-weight: 700;
  text-decoration: none;
  display: block;
}
.map__link_phone {
  color: #363435;
  font-size: 24px;
  margin-bottom: 4px;
}
.map__link_dotted {
  border-bottom: 1px dotted;
  width: max-content;
}

.map__btn {
  display: inline-block;
  color: #fcfcfe;
  text-decoration: none;
  background-color: #84b63d;
  border-radius: 3px;
  padding: 14px 20px 14px 30px;
}
.map__btn_pic {
  border-radius: 50%;
  width: 37px;
  height: 37px;
  padding: 0;
  line-height: 37px;
  text-align: center;
  font-size: 20px;
}
.map__btn_mail {
  background-color: $orange_light;
  font-size: 16px;
  margin-left: 7px;
}
.map__soc {
  margin: 16px 0;
  font-size: 0;
}
.fa-calculator {
  padding-left: 20px;
  font-size: 1.4rem;
  vertical-align: middle;
}

.footer {
  /* width: 1440px; */
  /* height: 160px; */
  background-color: #373739;
  color: #fbffff;
}
.footer > div {
  margin: 0 80px;
  padding: 35px 0 25px 0;
}

.footer nav .span {
  font-size: 16px;
  font-weight: 500;
  /* padding: 35px 0 55px 0; */
}
.rights {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .container-build {
    padding: 40px 0;
  }

  .container__title {
    font-size: 33px;
    width: 700px;
    margin: 0 auto 37px;
    text-align: center;
    font-weight: normal;
    line-height: 1;
  }
  .container__title_bold {
    font-weight: bold;
  }
  .cards-container {
    font-size: 0;
    width: calc(348px * 2 + 31px);
    margin: auto;
  }
  .cards-container__col {
    width: 348px;
    margin-right: 15px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
  }
  .cards-container__col_mr-0 {
    margin-right: 0;
  }

  .card {
    padding: 40px;
    margin-bottom: 29px;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .promotion {
    margin-top: 60px;
  }
  .promotion__wrapper {
    display: flex;
    justify-content: space-between;
    height: 250px;
  }

  .promotion__card-title {
    font-size: 22px;
    text-align: left;
    color: $white;
  }
  .promotion__card-description {
    width: 260px;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 28px;
  }
  .promotion__card {
    color: $white;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 12px;
    padding: 25px 45px;
    /* gap: 10px; */
    width: calc(50% - 30px);
    margin-right: 15px;
  }

  .promotion__button {
    background-color: white;
    color: $black;
    width: fit-content;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
  }

  .houseLastYear__left {
    display: block;
    align-items: center;
    margin: auto;
    width: calc(50% - 15px);
    /* margin-right: 25px; */
  }
  .houseLastYear__containerImg {
    min-width: 535px;
  }
  .houseLastYear__linkMap {
    display: none;
  }
  .houseLastYear__right {
    display: block;
    margin: auto;
    margin-top: 20px;
    /* width: 100%; */
    display: block;
    /* width: 535px; */
  }
  .houseLastYear__label {
    font-size: 26px;
    text-align: center;
    width: 100%;

    font-weight: 600;
  }
  .houseLastYear__description {
    display: flex;
    justify-content: center;
  }
  .houseLastYear-right-middle__container {
    display: flex;
    justify-content: center;
  }
  .houseLastYear-right-middle__container_col {
    margin: 20px;
  }

  .map {
    padding-left: 40px;
    padding-right: 40px;
  }
  .map__block {
    display: block;
    width: auto;
  }
  .map__block_left {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .map__text {
    display: inline-block;
    width: calc(50% - 20px);
    vertical-align: top;
  }
  .map__text_left {
    margin-right: 20px;
    /* margin-bottom: 0; */
  }
  .map__text_right > .map__text {
    width: auto;
  }
  .map__soc {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 576px) {
  .container-build {
    padding: 20px 0;
  }

  .container__title {
    font-size: 24px;
    width: 340px;
    margin: 0 auto 30px;
    text-align: center;
    font-weight: normal;
    line-height: 1;
  }
  .container__title_bold {
    font-weight: bold;
  }
  .cards-container {
    font-size: 0;
    width: calc(348px);
    margin: auto;
  }
  .cards-container__col {
    width: 348px;
    margin-right: 0px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
  }
  .cards-container__col_mr-0 {
    margin-right: 0;
  }

  .card {
    padding: 40px;
    margin-bottom: 26px;
    position: relative;
    background-position: center;
    background-size: cover;
  }

  .promotion {
    margin-top: 60px;
  }
  .promotion__wrapper {
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .promotion__card-title {
    font-size: 24px;
    text-align: left;
    color: $white;
  }
  .promotion__card-description {
    width: 260px;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 28px;
  }
  .promotion__card {
    color: $white;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 12px;
    padding: 25px 45px;
    /* gap: 10px; */
    width: 70%;
    margin: auto;
    margin-bottom: 15px;
  }

  .promotion__button {
    background-color: white;
    color: $black;
    width: fit-content;
    padding: 15px 35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
  }

  .houseLastYear__left {
    display: block;

    width: calc(50% - 15px);
    margin-right: 25px;
  }
  .houseLastYear__linkMap {
    display: none;
  }
  .houseLastYear__right {
    margin-top: 20px;
    display: block;
    width: 100%;
  }
  .houseLastYear__label {
    font-size: 26px;
    text-align: center;
    width: 100%;

    font-weight: 600;
  }
  .houseLastYear__description {
    display: flex;
    justify-content: center;
  }
  .houseLastYear-right-middle__container {
    display: flex;
    justify-content: center;
  }
  .houseLastYear-right-middle__container_col {
    margin: 20px;
  }
  .houseLastYear-right__button {
    display: flex;
    justify-content: center;
  }

  .map {
    /* background-color: blueviolet; */
    padding-left: 20px;
    padding-right: 20px;
  }
  .map__block {
    display: block;
    width: auto;
  }
  .map__block_left {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
