* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.top {
  background-image: url("img/house1.png");
  background-repeat: no-repeat;
  /* background-position: -40px 0px; */
  /* background-image
background-position
background-size
background-repeat */
  background-size: cover;
  height: 803px;
}
