$light_gray: #5c5f66;
$very_light_gray_text: #d2d3d6;
$ogange: #feaa01;
$orange_light: #f5b940;
$h_text: #2d2d2f;
$h_text_light: #4c4f56;
$smeta_text: #494b50;
$dark_text: #262425;
$description_text: #434749;
$white: #ffffff;
$almost_white: #efefef;
$green_light: #85b73e;
$black: #000000;
$body_background: #f5f6fa;
